<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bcffb5">  <td>17/03/05 17:13:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample.m2()[pri:0, instance:Sample@61dc03ce]">m2</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="6fb494">  <td>17/03/05 17:13:58</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="abc.m1()[pri:0, instance:abc@3c09711b]">m1</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>17/03/05 17:13:58</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAbc.m3()[pri:0, instance:TestAbc@5cc7c2a6]">m3</td> 
  <td>main@703504298</td>   <td></td> </tr>
</table>
